#product{
    display: inline-block;
    width: 200px;
    height: 250px;
    border: 2px solid rgb(75, 61, 61);
    background-color: bisque;
    padding: 30px;
    margin: 50px;
    text-align: center;
}
#product:hover{
    outline: 3px solid blueviolet;
    outline-offset: 10px;

}
a:hover{
    background-color: red;
    color: aquamarine;

}