.z div{ 
    position: absolute;
    
    width: 250px;
    height: 200px;
    

}
.b1{
    background-color: red;
    z-index: 4;
}
.b2{
    background-color: blue;
    z-index: 8;
}
.b3{
    background-color: green;
    z-index:3;
}